.note-list-view {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  width: 800px;
  max-width: 90%;
  margin: 0 auto;
  overflow: auto;
  padding: 24px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}
